<div class="col-md-4 portfolio-item">
    <div class="view overlay hm-black-strong">
        {{ with .thumbnail }}<img class="img-responsive" src="{{ . }}" alt="" style="border:1px;border-color:gray;border-style:solid;">{{ end }}
        <div class="mask flex-center">
            <div class="row text-center">

                <h3 class="white-text">{{ with .name }}{{ . }}{{ end }}</h3>

                {{ range $index, $element := .icons}}
                <a href="{{ index . 1 }}" class="btn-social btn-outline playicon">
                    <i class="fa fa-2x fa-fw {{ index . 0 }}"></i>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
