---
layout: main
---
<div class="pt-4 flex space-x-4 justify-center">
  <div class="w-160 flex flex-col">
    <h1 class="text-custom-white text-2xl sm:text-3xl leading-9 font-black align-middle uppercase">
      {{ title }}
    </h1>

    <main class="
      pt-4
      prose text-custom-white prose-base text-sm md:text-base
      prose-headings:text-custom-white prose-strong:text-custom-white 
      prose-h1:text-3xl
      prose-code:text-gray-400 prose-code:font-mono prose-code:bg-gray-800 prose-code:font-thin prose-code:before:hidden prose-code:after:hidden
      prose-pre:text-base
      prose-tr:divide-x prose-tr:border-gray-500
      prose-blockquote:text-custom-white prose-blockquote:font-mono
      prose-a:text-custom-link prose-a:font-bold prose-a:no-underline hover:prose-a:bg-gray-800
    ">
      {{ content }}
    </main>
  </div>
</div>

