---
title: Who is Alex Larioza?!
layout: root
---

<!-- explore card -->
{% render "explore-card" settings: settings, showHome: true %}

<!-- header -->
<div class="w-full flex flex-col border border-gray-200 rounded-lg gap-1 p-4">
  <h1 class="font-bold mb-2 text-4xl">{{ settings.projectTypes[tag].name }}</h1>
  <p class="">{{ settings.projectTypes[tag].description }}</h1>
</div>

<!-- grid -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {%- for project in collections[tag] reversed -%}
    {% render "project-card" project: project, 
      typeName: settings.projectTypes[project.data.type].name, 
      typeIcon: settings.projectTypes[project.data.type].icon, 
      companyName: settings.companies[project.data.company].name, 
      companyIcon: settings.companies[project.data.company].icon, 
    %}
  {%- endfor -%}
</div>