---
layout: article-list
---

<header class="pt-4 w-full text-custom-white text-2xl sm:text-3xl leading-9 font-black align-middle uppercase">
  {{ tag }}
</header>

<main class="w-full">
  <p>{{ settings.tags[tag] }}</p>

  {%- for post in collections[tag] reversed -%}
    {% render "article-list-item" date: post.date, url: post.url, title: post.data.title, subtitle: post.data.subtitle %}
  {%- endfor -%}
</main>
    