<!DOCTYPE html>
<html lang="en">

    {{ partial "header.html" . }}
    
    {{ template "_internal/google_analytics.html" . }}

    <body class="mdc-typography">

        <section class="content content-text">
            <div class="mdc-card content-card">
                <div class="mdc-typography--headline4">{{ .Title }}</div>
                <div class="mdc-typography--subtitle1">{{ .Date.Format "Monday, January 2 2006" }}</div>
                <div class="mdc-typography--body1 content-content">{{ .Content }}</div>
            </div>
        </section>
        
        {{ partial "footer.html" . }}
    </body>
</html>
