---
title: All Tags
tags: page
permalink: /tags/
layout: page
---

<div class="">
  {%- for tag in settings.tags -%}
    <div class="flex gap-1">
      <a class="font-black text-custom-link hover:bg-gray-800" 
        href="/tags/{{ tag[0] | slugify }}"
      >
        {{ tag[0] }}
      </a>
      <div>{{ tag[1] }}</div>
    </div>
  {%- endfor -%}
<div>