<div class="col-lg-12 text-center">
    {{ with .Site.Params.mugshot }}<img src="{{ . }}"/>{{ end }}
    {{ with .Site.Params.name }}<h1>{{ . }}</h1>{{ end }}
    {{ with .Site.Params.tagline }}<p class="lead" style="color:gray">{{ . }}</p>{{ end }}
</div>

<div class="col-lg-12 text-center">
    <a href="https://www.linkedin.com/in/alex-larioza-06123393" class="btn-social btn-outline">
        <i class="fa fa-2x fa-fw fa-linkedin"></i>
    </a>

    <a href="https://github.com/SHiLLySiT" class="btn-social btn-outline">
        <i class="fa fa-2x fa-fw fa-github"></i>
    </a>

    <a href="https://www.instagram.com/shillysit/" class="btn-social btn-outline">
        <i class="fa fa-2x fa-fw fa-instagram"></i>
    </a>

    <a href="https://www.flickr.com/photos/alexlarioza/" class="btn-social btn-outline">
        <i class="fa fa-2x fa-fw fa-flickr"></i>
    </a>
</div>
