<div class="col-lg-12 text-center">
    {{ with .Site.Params.mugshot }}<img src="{{ . }}"/>{{ end }}
    {{ with .Site.Params.name }}<h1>{{ . }}</h1>{{ end }}
    {{ with .Site.Params.tagline }}<h3 style="color:gray">{{ . }}</h3>{{ end }}
    {{ with .Site.Params.info }}<p style="color:gray">{{ . }}</p>{{ end }}
    <br>
</div>

<div class="col-lg-12 text-center">
    {{ range $index, $element := .Site.Params.links}}
    <a href="{{ index . 2 }}" class="btn-social btn-outline" style="text-decoration: none;">
        <i class="fa fa-2x fa-fw {{ index . 1 }}" data-toggle="tooltip" data-placement="bottom" title="{{ index . 0 }}"></i>
    </a>
    {{ end }}
</div>
