<!DOCTYPE html>
<html lang="en">
    
    {{ partial "header.html" . }}
    
    {{ template "_internal/google_analytics.html" . }}

    <style>
        .parent
        {
            width: 100%;
            height: 100%;
            display: table;
            text-align: center;
        }
        .child
        {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
    <body>
        <div class="parent">
            <div class="child">404</div>
        </div>
    </body>
</html>
