<!DOCTYPE html>
<html lang="en">
    
    {{ partial "header.html" . }}

    {{ partial "analytics.html" . }}

    <body class="mdc-typography">
        
        <!-- About -->
        <section class="content">
            <!-- Mug shot -->
            <div class="mdc-card">
                <div class="mdc-card__media mdc-card__media--16-9 card-cover" style="background-image: url({{ .Site.Params.mugshot }});"></div>
            </div>

            <!-- info -->
            <div class="mdc-card about-card center-text">
                <h2 class="game-card__title mdc-typography--display1">
                    {{ .Site.Params.name }}
                </h2>
                <br>
                <div class="mdc-typography--body1" style="padding: 0px 20px 0px 20px;">
                    {{ .Site.Params.titles }}
                </div>
                <br>
                <div class="mdc-typography--body1">
                    {{ range $index, $element := .Site.Params.social }}
                    <a title="{{ index . 0 }}" style="margin: 5px;" href="{{ index . 2 }}" class="mdc-button mdc-button--raised mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
                        <i class="{{ index . 1 }} fa-2x"></i>
                    </a>
                    {{ end }}
                </div>
            </div>
        </section>

        <!-- Blog -->
        <section class="content">
            <div class="mdc-card about-card center-text">
                <h2 class="game-card__title mdc-typography--display1">
                    Recent Posts
                </h2>

                <ul class="mdc-list">
                    {{ range $element := first 3 (where $.Site.RegularPages "Section" "blog") }}
                    <li class="mdc-list-item mdc-ripple-surface" data-mdc-auto-init="MDCRipple" onclick="window.open('{{ $element.URL }}', '_self');">
                        <span class="mdc-list-item__graphic">
                            <i class="{{ $element.Params.icon }} fa-2x"></i>
                        </span>

                        <span class="mdc-list-item__text">{{ $element.Title }}</span>

                        <span class="mdc-list-item__meta">
                            {{ $element.Date.Format "01/02/2006" }}
                        </span>
                    </li>
                    {{ end }}  
                </ul>

                <div style="padding: 5px;">
                    <a href="/blog/" class="mdc-button mdc-button--raised mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
                        More ...
                    </a>
                </div>
            </div>
        </section>

        <!-- Project List -->
        <section class="content">
            <div class="mdc-layout-grid thumbnail-grid">
                <div class="mdc-layout-grid__inner">
                    {{ range $element := where $.Site.RegularPages "Section" "projects" }}
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-card game-card mdc-ripple-surface" onclick="location.href='{{ $element.URL }}';" data-mdc-auto-init="MDCRipple">
                            <div class="mdc-card__media mdc-card__media--icon" style="background-image: url({{ $element.Params.icon }});"></div>
                            
                            <div class="game-card__primary center-text">
                                <div class="game-card__title mdc-typography--title">
                                    {{ $element.Title }}
                                </div>
                                <div class="game-card__title mdc-typography--caption">
                                    {{ $element.Date.Format "January 2006" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>
